@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Aktiviteter>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
}
<div class="hero-image hero-image" style="background-image: url('assets/img/frontpage-header.png')">
    <div class="overlay d-flex align-items-center justify-content-center">
        <h1 class="header-title-white">@Model.Content.HeroImageHeadline</h1>
    </div>

    <div class="action-bar">
        <div class="row no-gutters">
            <div class="action-bar-container col-4 d-flex align-items-center justify-content-center">
                <span>
                    <p class="action-bar-text">Alle</p>
                    <br>
                    <p class="action-bar-caption">Kategori</p>
                </span>
            </div>
            <div class="action-bar-container col-4 d-flex align-items-center justify-content-center action-bar-separators">
                <span>
                    <p class="action-bar-text">5000</p>
                    <br>
                    <p class="action-bar-caption">Postnr.</p>
                </span>
            </div>
            <div class="action-bar-container col-4 d-flex justify-content-center align-items-center">
                <span>
                    <p class="action-bar-text">April</p>
                    <br>
                    <p class="action-bar-caption">Måned</p>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- START MOST VISITED PLACES -->
<section class="container-fluid bg-light post-action-bar">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="post-action-bar-headline">MEST TILMEDTE AKTIVITETER</div>
            <div class="col-md-12">
                <div class="row carousel-sponsor d-flex align-items-center">
                    <div class="mx-auto py-3 px-2 img-grayscale"><img src="assets/img/aktiviteter/fifa18.png" alt="Fifa18 Logo"></div>
                    <div class="mx-auto py-3 px-2 img-grayscale"><img src="assets/img/aktiviteter/fisketur.png" alt="Fisketur logo"></div>
                    <div class="mx-auto py-3 px-2 img-grayscale"><img src="assets/img/aktiviteter/petanque.png" alt="DM Petanque logo"></div>
                    <div class="mx-auto py-3 px-2 img-grayscale"><img src="assets/img/aktiviteter/Holdledersamling.png" alt="Holdledersamling logo"></div>
                    <div class="mx-auto py-3 px-2 img-grayscale"><img src="assets/img/aktiviteter/fodbold.png" alt="DM indendørs fodbold logo"></div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END MOST VISITED PLACES -->
<section>
    <div class="container container-calendar bg-white mb-5 shadow-1">

        <div class="row d-none d-sm-flex p-1 bg-darkgreen text-white">
            <h5 class="col-sm p-1 text-center">Monday</h5>
            <h5 class="col-sm p-1 text-center">Tuesday</h5>
            <h5 class="col-sm p-1 text-center">Wednesday</h5>
            <h5 class="col-sm p-1 text-center">Thursday</h5>
            <h5 class="col-sm p-1 text-center">Friday</h5>
            <h5 class="col-sm p-1 text-center">Saturday</h5>
            <h5 class="col-sm p-1 text-center">Sunday</h5>
        </div>
        <div class="row border border-right-0 border-bottom-0">
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light ">
                <!--  march 26 -->
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center">Monday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light ">
                <!-- march 27 -->
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center ">Sunday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light ">
                <!-- march 28 -->
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center ">Sunday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light ">
                <!-- march 29 -->
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center ">Sunday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light ">
                <!-- march 30 -->
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center ">Monday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>

            </div>


            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block" bg-light>
                <!-- march 31 -->
                <h5 class="row align-items-center">
                    <span class="date col-1">31</span>
                    <small class="col d-sm-none text-center  ">Tuesday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block">
                <!-- april 1 -->
                <h5 class="row align-items-center">
                    <span class="date col-1">1</span>
                    <small class="col d-sm-none text-center ">Wednesday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>

            <div class="w-100"></div>

            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <!-- april 2 -->
                <h5 class="row align-items-center">
                    <span class="date col-1">2</span>
                    <small class="col d-sm-none text-center ">Thursday</small>
                    <span class="col-1"></span>
                </h5>
                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-dark text-white" title="FIFA 18">
                    Holdledersamling
                    <br>
                    <i class="fas fa-map-marker-alt"></i> Gudenåhuset
                </a>
            </div>


            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <!-- april 3 -->
                <h5 class="row align-items-center">
                    <span class="date col-1">3</span>
                    <small class="col d-sm-none text-center ">Friday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>


            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <!-- april 4 -->
                <h5 class="row align-items-center">
                    <span class="date col-1">4</span>
                    <small class="col d-sm-none text-center ">Saturday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>


            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">5</span>
                    <small class="col d-sm-none text-center ">Sunday</small>
                    <span class="col-1"></span>
                </h5>
                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-dark text-white" title="FIFA 18">
                    FIFA 18
                    <br>
                    <i class="fas fa-map-marker-alt"></i> Fredericia
                </a>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">6</span>
                    <small class="col d-sm-none text-center ">Monday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block">
                <h5 class="row align-items-center">
                    <span class="date col-1">7</span>
                    <small class="col d-sm-none text-center ">Tuesday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block">

                <h5 class="row align-items-center">
                    <span class="date col-1">8</span>
                    <small class="col d-sm-none text-center ">Wednesday</small>
                    <span class="col-1"></span>
                </h5>
                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-dark text-white" title="Test Event 2">
                    Fisketur
                    <br>
                    <i class="fas fa-map-marker-alt"></i> Skyggehale
                </a>
                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-dark text-white" title="Test Event 3">
                    Aktivitetsdag
                    <br>
                    <i class="fas fa-map-marker-alt"></i> Dalhoffsminde
                </a>
            </div>

            <div class="w-100"></div>

            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">9</span>
                    <small class="col d-sm-none text-center ">Thursday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">10</span>
                    <small class="col d-sm-none text-center ">Friday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">11</span>
                    <small class="col d-sm-none text-center ">Saturday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">12</span>
                    <small class="col d-sm-none text-center ">Sunday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">13</span>
                    <small class="col d-sm-none text-center ">Monday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block">
                <h5 class="row align-items-center">
                    <span class="date col-1">14</span>
                    <small class="col d-sm-none text-center ">Tuesday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block">
                <h5 class="row align-items-center">
                    <span class="date col-1">15</span>
                    <small class="col d-sm-none text-center ">Wednesday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="w-100"></div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">16</span>
                    <small class="col d-sm-none text-center ">Thursday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>

            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">17</span>
                    <small class="col d-sm-none text-center ">Friday</small>
                    <span class="col-1"></span>
                </h5>
                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-dark text-white" title="Test Event 3">
                    Aktivitetsdag
                    <br>
                    <i class="fas fa-map-marker-alt"></i> Dalhoffsminde
                </a>
                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-dark text-white" title="Test Event 3">
                    Aktivitetsdag
                    <br>
                    <i class="fas fa-map-marker-alt"></i> Hjallese
                </a>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">18</span>
                    <small class="col d-sm-none text-center ">Saturday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>

            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">19</span>
                    <small class="col d-sm-none text-center ">Sunday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">20</span>
                    <small class="col d-sm-none text-center ">Monday</small>
                    <span class="col-1"></span>
                </h5>
                <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-dark text-white" title="Test Event with Super Duper Really Long Title">
                    Test event with a long title......
                    <br>
                    <i class="fas fa-map-marker-alt"></i> Neverland
                </a>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block">
                <h5 class="row align-items-center">
                    <span class="date col-1">21</span>
                    <small class="col d-sm-none text-center ">Tuesday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block">
                <h5 class="row align-items-center">
                    <span class="date col-1">22</span>
                    <small class="col d-sm-none text-center ">Wednesday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>

            <div class="w-100"></div>

            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">23</span>
                    <small class="col d-sm-none text-center ">Thursday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">24</span>
                    <small class="col d-sm-none text-center ">Friday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">25</span>
                    <small class="col d-sm-none text-center ">Saturday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>

            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">26</span>
                    <small class="col d-sm-none text-center ">Sunday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">27</span>
                    <small class="col d-sm-none text-center ">Monday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block">
                <h5 class="row align-items-center">
                    <span class="date col-1">28</span>
                    <small class="col d-sm-none text-center ">Tuesday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block ">
                <h5 class="row align-items-center">
                    <span class="date col-1">29</span>
                    <small class="col d-sm-none text-center ">Wednesday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>

            <div class="w-100"></div>

            <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
                <h5 class="row align-items-center">
                    <span class="date col-1">30</span>
                    <small class="col d-sm-none text-center ">Thursday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-muted text-truncate d-none d-sm-inline-block bg-light ">
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center ">Friday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-muted text-truncate d-none d-sm-inline-block bg-light ">
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center ">Friday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-muted text-truncate d-none d-sm-inline-block bg-light ">
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center ">Friday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-muted text-truncate d-none d-sm-inline-block bg-light ">
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center ">Friday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-muted text-truncate d-none d-sm-inline-block bg-light ">
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center ">Friday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
            <div class="day col-sm p-2 border border-left-0 border-top-0 text-muted text-truncate d-none d-sm-inline-block bg-light ">
                <h5 class="row align-items-center">
                    <small class="col d-sm-none text-center ">Friday</small>
                    <span class="col-1"></span>
                </h5>
                <p class="d-sm-none">No events</p>
            </div>
        </div>
    </div>
</section>

<section class="container clearance">
    <article>
        <h3>@Model.Content.Headline</h3>
        <div class="row equal my-5">
            <div class="col-md-6">
                <p>
                    @Html.Raw(Model.Content.BodyText)
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    @Html.Raw(Model.Content.BodyText)
                </p>
            </div>
        </div>
    </article>
    <div class="my-5"></div>
    <article class="pb-5">
        <h3>@Model.Content.RmHeadline</h3>
        <div class="row equal">
            <div class="col-md-6">
                <p>
                    @Html.Raw(Model.Content.ShownText1)
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    @Html.Raw(Model.Content.ShownText2)
                </p>
            </div>
        </div><br>
        <div class="collapse" id="retningslinjer">
            <div class="row equal">
                <div class="col-md-6">
                    @Html.Raw(Model.Content.HiddenText1)

                </div>
                <div class="col-md-6">
                    @Html.Raw(Model.Content.HiddenText2)
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-readmore mt-3 mr-5 float-right bg-success text-white" data-toggle="collapse" data-target="#retningslinjer">Læs mere</button>
    </article>

</section>
