@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Index>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
}

<div class="hero-image hero-image-tall" style="background-image: url('@Model.Content.Heroimg.Url')">
    <div class="overlay d-flex align-items-center justify-content-center">
        <h1 class="header-title-white">
            @Html.Raw(Model.Content.HeroimgText)
        </h1>
    </div>
    <div class="action-bar">
        <div class="row no-gutters">
            <div class="action-bar-container col-4 d-flex align-items-center justify-content-center">
                <span>
                    <p class="action-bar-large-text">130</p>
                    <br>
                    <p class="action-bar-small-text">Steder</p>
                </span>
            </div>
            <div class="action-bar-container col-4 d-flex align-items-center justify-content-center action-bar-separators">
                <span>
                    <p class="action-bar-large-text">17000+</p>
                    <br>
                    <p class="action-bar-small-text">Tilmeldte</p>
                </span>
            </div>
            <div class="action-bar-container col-4 d-flex justify-content-center align-items-center">
                <span>
                    <p class="action-bar-large-text">32564</p>
                    <br>
                    <p class="action-bar-small-text">Steder</p>
                </span>
            </div>
        </div>
    </div>
</div>


<section class="container clearance">
    <h3 class="text-center">@Model.Content.Headline</h3>
    <div class="row">
        <div class="col-md-6">
            <p>@Model.Content.ContentTextLeft</p>
        </div>
        <div class="col-md-6">
            <p>@Model.Content.ContentTextRight</p>
        </div>
    </div>
</section>