@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.About>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
}
<div class="hero-image hero-image" style="background-image: url('@Model.Content.HeroImage.Url')">
    <div class="overlay d-flex align-items-center justify-content-center overlay-green">
        <h1 class="header-title-white">@Model.Content.Headline</h1>
    </div>
</div>

<!-- START TAGLINE -->
@*<section class="container-fluid bg-light clearance-grey">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="post-action-bar-headline"><h2>@Model.Content.PageTitel</h2></div>
            </div>
        </div>
    </section>*@
<!-- END TAGLINE -->
<!-- START WHITE SECTION -->
<section class="container feature-grid clearance">
    <div class="row">

        <div class="tile-group quadro">

            <div class="tile double" style="background-image: url('/assets/img/om/om-lvs/card-nav-om1.png')">
                <a href="~/om-lvs">
                    <div class="overlay overlay-green">
                        <h2 class="tile-text-headline">
                            Om LVS
                        </h2>
                        <p class="tile-text">
                            Læs mere om LVS her, og se hvad vi står for
                        </p>
                    </div>
                </a>
            </div>
            <div class="tile" style="background-image: url('/assets/img/om/om-lvs/card-nav-om2.png')">
                <a href="~/om-lvs/om-idvi">
                    <div class="overlay overlay-blue">
                        <h2 class="tile-text-headline">
                            IDVI
                        </h2>
                        <p class="tile-text">
                            Se mere om IDVI her
                        </p>
                    </div>
                </a>
            </div>
            <div class="tile" style="background-image: url('/assets/img/om/om-lvs/card-nav-om3.png')">
                <a href="~/om-lvs/om-medarbejdere">
                    <div class="overlay overlay-orange">
                        <h2 class="tile-text-headline">
                            Medarbejdere
                        </h2>
                        <p class="tile-text">
                            Se ansigterne bag LVS
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION  -->
<!-- START GREY SECTION -->
<section class="container-fluid bg-light ">
    <div class="container clearance-grey">
        <h3>@Model.Content.Headline</h3>
        @Html.GetGridHtml(Model.Content, "content")
    </div>
</section>
<!-- END GREY SECTION -->