@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Activities>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
}
@section head{
    <link href="/assets/css/fullcalendar.css" rel="stylesheet">
}
<div class="hero-image hero-image" style="background-image: url('assets/img/frontpage-header.png')">
    <div class="overlay d-flex align-items-center justify-content-center overlay-blue">
        <h1 class="header-title-white">@Model.Content.HeroHeadline</h1>
    </div>

    <div class="action-bar">
        <div class="row no-gutters">
            <div class="action-bar-container col-4 d-flex align-items-center justify-content-center">
                <span>
                    <p class="action-bar-text dropdown-toggle">Alle</p>
                    <br>
                    <p class="action-bar-caption">Kategori</p>
                </span>
            </div>
            <div class="action-bar-container col-4 d-flex align-items-center justify-content-center action-bar-separators">
                <span>
                    <p class="action-bar-text dropdown-toggle">5000</p>
                    <br>
                    <p class="action-bar-caption">Postnr.</p>
                </span>
            </div>
            <div class="action-bar-container col-4 d-flex justify-content-center align-items-center">
                <span>
                    <p class="action-bar-text dropdown-toggle">April</p>
                    <br>
                    <p class="action-bar-caption">Måned</p>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- START MOST VISITED PLACES -->
<section class="container-fluid bg-light post-action-bar">
    <div class="container">
        <div class="row pb-5 d-flex justify-content-center">
            <div class="post-action-bar-headline"><h4>@Model.Content.FeaturedHeadline</h4></div>
            <div class="col-md-12">
                <div class="row carousel-sponsor d-flex align-items-center">
                    @foreach (FeaturedItem f in Model.Content.FeaturedList)
                    {
                        <div class="mx-auto py-3 px-2 img-grayscale"><img src="@f.FeaturedImage.Url" alt="@f.FeaturedName logo"></div>

                    }
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END MOST VISITED PLACES -->
<section class="container clearance-grey">
    <div id='calendar'></div>
</section>

<section class="container clearance">
    <article>
        <h3>@Model.Content.Headline</h3>
        <div class="row equal my-5">
            @Html.GetGridHtml(Model.Content, "content")
        </div>
    </article>
    <div class="my-5"></div>
    <article class="pb-5">
        <div class="row equal">
            @Html.GetGridHtml(Model.Content, "shownContent")
        </div><br>
        <div class="collapse" id="retningslinjer">
            <div class="row equal">
                @Html.GetGridHtml(Model.Content, "hiddenContent")
            </div>
        </div>
        <button type="button" class="btn btn-readmore mt-3 mr-5 float-right bg-success text-white" data-toggle="collapse" data-target="#retningslinjer">Læs mere</button>
    </article>

</section>

@section scripts{
    <script src="/assets/js/moment.js"></script>
    <script src="/assets/js/fullcalendar.min.js"></script>
    <script src="/assets/js/locale/da.js"></script>
    <script>
        $('#calendar').fullCalendar({

            nowIndicator: true,
            themeSystem: 'bootstrap4',
            eventLimit: true,
            noEventsMessage: "Ingen akriviteter at vise",

            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listMonth'


            },
            events: 'https://fullcalendar.io/demo-events.json'
        });
    </script>
}
