@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Contact>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
    var employees = Model.Content.Children<Employee>();
}
<div class="hero-image hero-image" style="background-image: url('@Model.Content.HeroImage.Url')">
    <div class="overlay d-flex align-items-center justify-content-center">
        <h1 class="header-title-white">@Model.Content.Headline</h1>
    </div>
</div>

<!-- START LVS CONTACT INFO -->
<section class="container clearance-grey">
    <h3>@Model.Content.Headline</h3>
    @Html.GetGridHtml(Model.Content, "content")
</section>
<!-- END LVS CONTACT INFO -->
<!-- START EMPLOYEE CARD -->
<section class="container-fluid bg-light">
    <div class="container clearance-grey">
        <div class="row justify-content-center">
            <div class="row justify-content-center card-member-padding">
                <div class="col-md-12">
                    <div class="card p-4">
                        @foreach (Employee e in employees)
                        {
                            <div class="row align-items-center blockquote">
                                <div class="col-md-6">
                                    <img class="card-img-top img-fluid rounded-circle card-img-padding" src="@e.ProfileImage.Url" alt="Card image">
                                </div>
                                <div class="col-md-6 hjem-quote">
                                    <div class="text-card card-body blockquote">
                                        <h4 class="card-title pt-4">
                                            <b>@e.PersonName</b>
                                        </h4>
                                        <p class="card-quote">
                                            <i>@e.JobTitle</i>
                                            <br>
                                            <br>
                                        </p>
                                        <p class="card-text pt-4">
                                            Telefon : @e.PersonPhone <br><br>
                                            Email : @e.PersonEmail
                                        </p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END EMPLOYEE CARD -->
<!-- START FORM -->
<section class="container">
    <div class="containter clearance">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="post-action-bar-headline">SKRIVE TIL OS</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form>
                    <fieldset class="col-6-md">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label> Navn: </label>
                            </div>
                            <div class="col-md-10 form-field">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label> Postnr: </label>
                            </div>
                            <div class="col-md-10 form-field">
                                <input type="number" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label> Telefon: </label>
                            </div>
                            <div class="col-md-10 form-field">
                                <input type="number" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label> Email: </label>
                            </div>
                            <div class="col-md-10 form-field">
                                <input type="email" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label> Besked: </label>
                            </div>
                            <div class="col-md-10 form-field">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-12 d-flex justify-content-end">
                                <input type="submit" class="submit-button" value="Submit">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END FORM -->