@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
}

<div class="hero-image hero-image-tall" style="background-image: url('@Model.Content.HeroImage.Url')">
    <div class="overlay d-flex align-items-center justify-content-center">
        <h1 class="header-title-white">
            @Html.Raw(Model.Content.HeroHeadline)
        </h1>
    </div>
    <div class="action-bar">
        <div class="row no-gutters">
            <div class="action-bar-container col-4 d-flex align-items-center justify-content-center">
                <span>
                    <p class="action-bar-text dropdown-toggle">130</p>
                    <p class="action-bar-caption">Steder</p>
                </span>
            </div>
            <div class="action-bar-container col-4 d-flex align-items-center justify-content-center action-bar-separators">
                <span>
                    <p class="action-bar-text dropdown-toggle">17000+</p>
                    <p class="action-bar-caption">Tilmeldte</p>
                </span>
            </div>
            <div class="action-bar-container col-4 d-flex justify-content-center align-items-center">
                <span>
                    <p class="action-bar-text dropdown-toggle">32564</p>
                    <p class="action-bar-caption">Udsatte hjulpet</p>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- START SPONSOR CAROUSEL -->
<section class="container-fluid bg-light post-action-bar">
    <div class="container">
        <div class="row pb-5 d-flex justify-content-center">
            <div class="post-action-bar-headline">@Model.Content.SponserHeadline</div>
            <div class="col-md-12">
                <div class="row carousel-sponsor d-flex align-items-center">
                    @foreach (Featured f in Model.Content.SponsorList)
                    {
                        <div class="mx-auto"><a target="_blank" href="@f.FeaturedLink"><img src="@f.FeaturedImage.Url" alt="@f.FeaturedName logo"></a></div>

                    }
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END SPONSOR CAROUSEL -->
<!-- START FEATURE-GRID -->
<section class="container-fluid clearance">
    <div class="row">
        <div class="tile-group quadro">
            <div class="tile double double-vertical" style="background-image: url('assets/img/hjem/sommerlejer.png')">
                <div class="overlay overlay-green">
                    <h2 class="tile-text-headline">
                        summercamp 2018
                    </h2>
                    <p class="tile-text">
                        er lige på trapperne, skal du være med i årets fedeste event?
                    </p>
                </div>

            </div>
            <div class="tile double" style="background-image: url('assets/img/hjem/sommerhus.png')">
                <div class="overlay overlay-orange">
                    <h2 class="tile-text-headline">
                        væresteder
                    </h2>
                    <p class="tile-text">
                        Leder du efter det nærmeste værested, eller vil du læse mere om dine muligheder?
                    </p>
                </div>
            </div>
            <div class="tile" style="background-image: url('assets/img/hjem/guitar.png')">
                <div class="overlay overlay-blue">
                    <h2 class="tile-text-headline">
                        frivillig
                    </h2>
                    <p class="tile-text">
                        Hele grundstenen er de frivillige, har du lyst til at hjælpe?
                    </p>
                </div>
            </div>
            <div class="tile" style="background-image: url('assets/img/hjem/bueskydning.png')">
                <div class="overlay overlay-red">
                    <h2 class="tile-text-headline">
                        Aktiviteter
                    </h2>
                    <p class="tile-text">
                        Se listen over kommende aktiviteter og hvordan du tilmelder dig
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FEATURE-GRID -->
<!-- START LVS DESCRIPTION -->
<section class="container clearance">


    <h3 class="text-center">@Model.Content.Headline</h3>
    @Html.GetGridHtml(Model.Content, "content")

</section>
<!-- END LVS DESCRIPTION -->
<!-- START MEMBER QUOTE -->
<section class="container-fluid bg-light ">
    <div class="container clearance-grey carousel slide" data-ride="carousel" id="carousel-quotes">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#carousel-quotes" data-slide-to="0" class="active"></li>
            @for (int i = 1; i < Model.Content.GoodStoryBox.Count(); i++)
            {
                <li data-target="#carousel-quotes" data-slide-to="@i"></li>
            }
        </ul>
        <div class="carousel-inner">
            @{ string active = "active";}
            @foreach (GoodStory c in Model.Content.GoodStoryBox)
            {
                <div class="row justify-content-center card-member-padding carousel-item @active">
                    <div class="col-sm-12 col-md-12">
                        <div class="card p-4">
                            <div class="row align-items-center blockquote">
                                <div class="col-md-6">
                                    <img class="card-img-top img-fluid rounded-circle card-img-padding" src="@c.StoryImage.Url" alt="Card image">
                                </div>
                                <div class="col-md-6 hjem-quote">
                                    <div class="text-card card-body blockquote">
                                        <h4 class="card-title pt-4">
                                            <b>@c.StoryName, @c.Age år</b>
                                        </h4>
                                        <p class="card-quote">
                                            <i>"@c.Quote"</i>
                                            <br>
                                            <br>
                                        </p>
                                        <p class="card-text pt-4">
                                            @c.StoryDescription
                                        </p>
                                        <br>
                                        <br>
                                        <a href="@c.Link" target="_blank">
                                            <button type="button" class="btn btn-readmore float-right">Læs mere</button>
                                        </a>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                active = "";
            }
        </div>
    </div>
</section>
<!-- END MEMBER QUOTE -->
<!-- START CTA -->
<section class="container clearance">
    <div class="row justify-content-center">
        <h1 class="text-uppercase">Bliv en del af fælleskabet</h1>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary btn-lg mr-3">Støt</button>
        <button type="button" class="btn btn-secondary btn-lg">Find værested</button>
    </div>
</section>
<!-- END CTA -->