@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Medarbejdere>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
    List<GridItem>
        GIlist = new List<GridItem>
            ();
    foreach (GridItem gi in Model.Content.GridList)
    {
        GIlist.Add(gi);
    }
}
<div class="hero-image hero-image" style="background-image: url('@Model.Content.HeroImage.Url')">
    <div class="overlay d-flex align-items-center justify-content-center overlay-green">
        <h1 class="header-title-white">@Model.Content.HeroHeadline</h1>
    </div>
</div>


<section class="container feature-grid clearance">
    <div class="row">

        <div class="tile-group quadro">

            <div class="tile double" style="background-image: url('@GIlist[0].GridImage.Url')">
                <a href="@GIlist[0].GridLink.Url">
                    <div class="overlay overlay-green">
                        <h2 class="tile-text-headline">
                            @GIlist[0].GridHeadline
                        </h2>
                        <p class="tile-text">
                            @GIlist[0].GridText
                        </p>
                    </div>
                </a>
            </div>
            <div class="tile" style="background-image: url('@GIlist[1].GridImage.Url')">
                <a href="@GIlist[1].GridLink.Url">
                    <div class="overlay overlay-blue">
                        <h2 class="tile-text-headline">
                            @GIlist[1].GridHeadline
                        </h2>
                        <p class="tile-text">
                            @GIlist[1].GridText
                        </p>
                    </div>
                </a>
            </div>
            <div class="tile" style="background-image: url('@GIlist[2].GridImage.Url')">
                <a href="@GIlist[2].GridLink.Url">
                    <div class="overlay overlay-orange">
                        <h2 class="tile-text-headline">
                            @GIlist[2].GridHeadline
                        </h2>
                        <p class="tile-text">
                            @GIlist[2].GridText
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION  -->
<!-- START GREY SECTION -->
<section class="container-fluid bg-light ">
    <div class="container clearance-grey">
        <div class="row">
            <div class="col-md-12">
                <h3>@Model.Content.Headline</h3>
                @Html.GetGridHtml(Model.Content, "content")
            </div>
        </div>
    </div>
</section>
<!-- END GREY SECTION -->
<!-- START SECTION RESULTS -->
<!-- END SECTION RESULTS -->