@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.News>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
    var newslist = Model.Content.Children<Article>();
}
<div class="hero-image hero-image" style="background-image: url('assets/img/frontpage-header.png')">
    <div class="overlay d-flex align-items-center justify-content-center overlay-blue">
        <h1 class="header-title-white">NYHEDER</h1>
    </div>

    <div class="action-bar">
        <div class="row no-gutters">
            <div class="action-bar-container col-4 d-flex align-items-center justify-content-center">
                <span>
                    <p class="action-bar-text dropdown-toggle">Sundhed</p>
                    
                    <p class="action-bar-caption">Kategori</p>
                </span>
            </div>
            <div class="action-bar-container col-4 d-flex align-items-center justify-content-center action-bar-separators">
                <span>
                    <p class="action-bar-text dropdown-toggle">April</p>
                    
                    <p class="action-bar-caption">Måned</p>
                </span>
            </div>
            <div class="action-bar-container col-4 d-flex justify-content-center align-items-center">
                <span>
                    <p class="action-bar-text dropdown-toggle">2018</p>
                    
                    <p class="action-bar-caption">År</p>
                </span>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid bg-light clearance-grey">
    <div class="row">
    </div>
</section>
@*<section>
        <div class="container">
            <div class="row clearance">
                <h2>Seneste nyheder</h2>
                @foreach (Article a in newslist)
                {
                    <div class="container">
                        <div class="row">
                            <a href="@a.Url">
                                <div class="col-md-3">
                                    <img src="@a.Image.Url?width=150" alt="@a.Name" />
                                </div>
                                <div class="col-md-9">
                                    <h3>@a.Headline</h3>
                                    <div class="text-muted">
                                        @a.CreateDate
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>*@
<section>
    <div class="container clearance">
        
        <div class="row">

            <div class="col-md-8">
                <h1 class="mb-4">Nyheder</h1>
                @foreach (Article a in newslist)
                {

                    <div class="col-md-12 news-container">
                        <div class="row no-gutters">
                            <div class="col-md-4 news-image squarebox" style="background-image:url('@a.Image.Url');">
                            </div>
                            <div class="col-md-8 pl-3 d-flex align-items-center">
                                <span>
                                    <h2>@a.Headline</h2>

                                    <p>@a.CreateDate.Day/@a.CreateDate.Month - @a.CreateDate.Year </p>

                                    <a href="@a.Url" class="pl-0 ml-0 btn btn-link">Læs mere..</a>
                                </span>
                            </div>
                        </div>
                    </div>

                }
            </div>

            <div class="col-md-4">
                <h1 class="mb-4">Facebook</h1>
                <script src="//www.powr.io/powr.js?external-type=html"></script>
                <div class="powr-facebook-feed" id="49301a21_1526744900"></div>
            </div>
        </div>
    </div>
</section>