@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Shelters>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
    var shelters = Model.Content.Children<Shelter>();

}
<section>
    <div class="hero-image hero-image" style="background-image: url('@Model.Content.HeroImage.Url')">
        <div class="overlay d-flex align-items-center justify-content-center">
            <h1 class="header-title-white">@Model.Content.HeroImageHeadline</h1>
        </div>

        <div class="action-bar">
            <div class="row no-gutters">
                <div class="action-bar-container col-4 d-flex align-items-center justify-content-center">
                    <span>
                        <p class="action-bar-text">Fyn</p>
                        <br>
                        <p class="action-bar-caption">Region</p>
                    </span>
                </div>
                <div class="action-bar-container col-4 d-flex align-items-center justify-content-center action-bar-separators">
                    <span>
                        <p class="action-bar-text">5000</p>
                        <br>
                        <p class="action-bar-caption">Postnr.</p>
                    </span>
                </div>
                <div class="action-bar-container col-4 d-flex justify-content-center align-items-center">
                    <span>
                        <p class="action-bar-text">5 steder</p>
                        <br>
                        <p class="action-bar-caption">Fundet</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- START MOST VISITED PLACES -->
<section class="container-fluid bg-light post-action-bar">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="post-action-bar-headline">MEST BESØGTE VÆRESTEDER</div>
            <div class="col-md-12">
                <div class="row carousel-sponsor d-flex align-items-center">
                    <div class="mx-auto py-3 px-2 img-grayscale"><a target="_blank" href="http://stormspakhus.dk"><img src="assets/img/vaeresteder/outsideren.png" alt="Storms Pakhus logo"></a></div>
                    <div class="mx-auto py-3 px-2 img-grayscale"><a target="_blank" href="http://kmd.dk"><img src="assets/img/vaeresteder/plexus.png" alt="KMD logo"></a></div>
                    <div class="mx-auto py-3 px-2 img-grayscale"><a target="_blank" href="http://www.bikubenfonden.dk/kronprinsparrets-priser-2010"><img src="assets/img/vaeresteder/muhabet.png" alt="Kronsprinsparrets Pris logo"></a></div>
                    <div class="mx-auto py-3 px-2 img-grayscale"><a target="_blank" href="http://odense.dk"><img src="assets/img/vaeresteder/paraplyen.png" alt="Odense Kommune logo"></a></div>
                    <div class="mx-auto py-3 px-2 img-grayscale"><a target="_blank" href="http://ob.dk" target="_blank"><img src="assets/img/vaeresteder/stoppestedet.png" alt="Odense Boldklub logo"></a></div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END MOST VISITED PLACES -->
<!-- START RESULTS MAPS -->
<section class="container-fluid bg-light clearance-grey">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <iframe class="container" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1218554.7023152593!2d10.405898103599023!3d55.2792606371077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sv%C3%A6resteder!5e0!3m2!1sen!2sdk!4v1523644881930" width="1140" height="600" frameborder="0" style="border:0"></iframe>

        </div>
    </div>
</section>
<!-- END RESULTS MAPS -->
<!-- START SECTION RESULTS -->
<div class="container">
    <section class="row clearance">
        <div class="col-md-12 text-center">
            <h2>@Model.Content.Headline</h2>
            <p>@Model.Content.BodyText</p>
        </div>
    </section>

    <section>
        <div class="row no-gutters clearance-bottom">
            <div class="col-4">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    @{ string activeClass = "active";}
                    @foreach (Shelter s in shelters)
                    {
                        <a class="nav-link @activeClass" id="v-pills-@s.Id-tab" data-toggle="pill" href="#v-pills-@s.Id" role="tab" aria-controls="v-pills-@s.Id" aria-selected="true">
                            <h5> <i class="fas fa-map-marker-alt"></i> @s.CenterName</h5 >
                            <p class="m-0">Address: @s.Address</p>
                            <p class="m-0">Tlf: @s.PhoneNumber</p>
                            <p class="m-0">Mail: @s.Mail</p>
                        </a>
                        activeClass = "";
                    }
                </div>
            </div>
            <div class="col-8">

                <div class="tab-content" id="v-pills-tabContent">
                    @{ string shownActive = "show active";}
                    @foreach (Shelter s in shelters)
                    {
                        <div class="tab-pane fade @shownActive" id="v-pills-@s.Id" role="tabpanel" aria-labelledby="v-pills-@s.Id-tab">
                            <img class="vaestedImage" src="assets/img/house.png" alt="Værested" />
                            <div id="Centertxt" class="p-2 text-muted">
                                @s.CenterText
                            </div>
                        </div>
                        shownActive = "";
                    }
                </div>
            </div>
        </div>
    </section>
<!-- END SECTION RESULTS -->
<!-- START SECTION REGISTRATION -->
<div class="container-fluid">
    <div class="container clearance-bottom">
        <div class="row">

            <section class="col-md-12 text-center">
                <h2>ØNSKER DU AT VÆRE EN DEL AF LVS-FÆLLESSKABET?</h2>
                <p>Tilmeld dig dit husly her</p>
            </section>

            <!-- START VÆRESTED REGISTRATION FORM -->
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form>
                        <fieldset class="col-6-md">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label> Væresteds navn: </label>
                                </div>
                                <div class="col-md-8 form-field">
                                    <input type="text" class="form-control">
                                </div>

                                <div class="col-md-4">
                                    <label> Kontakt person: </label>
                                </div>
                                <div class="col-md-8 form-field">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label> Email: </label>
                                </div>
                                <div class="col-md-8 form-field">
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label> Telefon: </label>
                                </div>
                                <div class="col-md-8 form-field">
                                    <input type="number" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label> Mobil: </label>
                                </div>
                                <div class="col-md-8 form-field">
                                    <input type="number" class="form-control">
                                </div>
                                <div class="col-md-12 d-flex justify-content-end">
                                    <input type="submit" class="submit-button" value="Submit">
                                </div>
                            </div>


                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END VÆRESTED REGISTRATION FORM -->
